.box {font-family: arial; margin: 10px 400px 300px 400px}
h1 {weight: 500px; text-transform: uppercase}
.center {margin: 0px 200px 0px 200px}
h4 {position: relative;
    padding: 12px 0;
    border-bottom: 2px solid #333}
.zz7 {font-size: 20px; font-weight: 600}
.second {font-size: 15px; font-weight: 100}
a {font-style: italic}
.zz6: {border-bottom: 2px solid #333}